src/berger.py
src/chessjson.py
src/chessserver.py
src/commonmain.py
src/convert.py
src/convert2jch.py
src/crosstable.py
src/crosstabledutch.py
src/helpers.py
src/berger.py
src/pairing.py
src/pairingberger.py
src/pairingchecker.py
src/pairingdutch.py
src/qdefs.py
src/rating.py
src/ratingchecker.py
src/tiebreak.py
src/tiebreakchecker.py
src/tiebreaktest.py
src/tournament.py
src/tournamentgenerator.py
src/version.py
src/xxxmain.py
uv.lock
